@import "variables";
.cart {
    position: relative;
    width: 100%;
    height: 100%;
    .cart-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .cart-row-1 {
            height: 100%;
            .layout-left {
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                .order-container {
                    height: 49%;
                    margin-bottom: 1%;
                    .order {
                        margin-right: 10px;
                        height: 100%;
                        background-color: $colorWhite;
                        border-radius: 5px;
                        box-shadow: 0 0 20px $colorStroke;
                        overflow-x: hidden;
                        overflow-y: auto;
                        .img-product {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            border: 1px solid $colorStroke;
                        }
                    }
                    .order::-webkit-scrollbar {
                        width: 6px;
                    }
                    .order::-webkit-scrollbar-thumb {
                        background-color: #C0C4CC;
                        border-radius: 8px;
                    }
                }
                .cart-row-container {
                    height: 49%;
                    margin-top: 1%;
                    .cart-row {
                        margin-right: 10px;
                        background-color: $colorWhite;
                        margin-bottom: auto;
                        border-radius: 5px;
                        box-shadow: 0 0 20px $colorStroke;
                        height: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;
                        position: relative;
                        .header-product {
                            margin-top: 20px;
                            .search-product {
                                padding-left: 20px;
                                .el-input {
                                    width: 200px;
                                    margin-right: 10px;
                                }
                            }
                            .page {
                                padding-right: 20px;
                                display: flex;
                                justify-content: flex-end;
                            }
                        }
                        .content-product {
                            position: absolute;
                            top: 40px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            overflow: auto !important;
                            margin-top: 20px;
                            display: flex;
                            flex-wrap: wrap;
                            .content-row {
                                width: 90px;
                                padding: 10px 20px;
                                .product-image {
                                    position: relative;
                                    width: 90px;
                                    height: 90px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    img {
                                        max-width: 75px;
                                        min-width: 75px;
                                        min-height: 75px;
                                        max-height: 75px
                                    }
                                    .product-money {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        background-color: $colorWhite;
                                        font-size: 12px;
                                        color: $colorGreen;
                                        padding: 2px;
                                    }
                                    .product-status {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background-color: $colorWhite;
                                        font-size: 12px;
                                        color: $colorRed;
                                        padding: 2px;
                                    }
                                }
                                .text-product {
                                    margin: 0;
                                    padding-top: 5px;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    font-size: 12px;
                                }
                                .text-sku {
                                    margin: 0;
                                    padding-top: 5px;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    font-size: 12px;
                                    font-weight: bold
                                }
                            }
                            .content-row:hover {
                                background-color: $colorBg;
                                cursor: pointer;
                                transition: .3s;
                                .product-money {
                                    color: $colorSideBarBg;
                                    transition: .3s;
                                }
                            }
                        }
                        .text-list-product {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            top: 50px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            span {
                                font-size: 14px;
                                color: #909399;
                            }
                        }
                        @media only screen and (max-width: 992px) {
                            .header-product {
                                .search-product {
                                    padding: 0;
                                    display: flex;
                                    justify-content: center;
                                    .el-input {
                                        width: 150px;
                                        margin-right: 10px;
                                    }
                                }
                                .page {
                                    padding: 0;
                                    margin-top: 10px;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                            .content-product {
                                top: 80px;
                            }
                        }
                    }
                    .content-product::-webkit-scrollbar {
                        width: 6px;
                    }
                    .content-product::-webkit-scrollbar-thumb {
                        background-color: #C0C4CC;
                        border-radius: 8px;
                    }
                }
            }
            @media only screen and (max-width: 767px) {
                .layout-left {
                    height: 200%;
                    .order-container {
                        margin-bottom: 10px;
                        .order {
                            margin: 0;
                        }
                    }
                    .cart-row-container {
                        height: 100%;
                        margin: 0;
                        .cart-row {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .layout-right {
            position: relative;
            height: 100%;
            .total-value {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: 10px;
                background-color: $colorWhite;
                border-radius: 5px;
                box-shadow: 0 0 20px $colorStroke;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .form-cart-container {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .form-cart-chill {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        overflow-x: hidden;
                        overflow-y: auto;
                        padding: 20px;
                        .user {
                            width: 100%;
                            margin-bottom: 10px;
                            .user-name {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .user-name-icon {
                                    i {
                                        color: rgb(251, 146, 60);
                                        margin-right: 17px;
                                    }
                                    span {
                                        font-weight: bold;
                                    }
                                }
                                .close-user {
                                    color: $colorRed;
                                    cursor: pointer;
                                    transition: .3s;
                                    width: 24px;
                                    height: 24px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                }
                                .close-user:hover {
                                    background-color: rgba(230, 90, 103, 0.1);
                                }
                            }
                        }
                        .form-cart {
                            .input-label {
                                font-size: 14px;
                                span {
                                    color: $colorRed;
                                }
                            }
                            .el-form-item {
                                margin-bottom: 25px;
                            }
                        }
                    }
                    .form-cart-chill::-webkit-scrollbar {
                        width: 6px;
                    }
                    .form-cart-chill::-webkit-scrollbar-thumb {
                        background-color: #C0C4CC;
                        border-radius: 8px;
                    }
                }
                .order-bottom {
                    padding: 0 20px 20px 20px;
                    .sum-money {
                        font-weight: bold;
                        font-size: 18px;
                        span {
                            color: $colorRed;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 767px) {
            .layout-right {
                height: 100%;
                margin-top: 10px;
                .total-value {
                    margin: 0;
                }
            }
        }
        @media only screen and (max-width: 992px) {
            .layout-right {
                .total-value {
                    margin: 0;
                    bottom: 10px;
                }
            }
        }
    }

    // dialog
    .form-user {
        .el-form-item {
            margin-bottom: 10px;
            .label-user {
                margin: 0;
                font-weight: bold;
                .color-vali {
                    color: $colorRed;
                }
            }
        }
    }

}

.error {
    color: red;
    font-size: 12px;
    width: 250px;
    margin-top: 3px;
}