@import "variables";
.cart {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
    .cart-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .cart-row-1 {
            margin-bottom: 20px;
            height: 65%;
            .el-col {
                position: relative;
                height: 100%;
                .order {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-right: 20px;
                    background-color: $colorWhite;
                    border-radius: 5px;
                    box-shadow: 0 0 20px $colorStroke;
                }
            }
        }
    }
}

.title {
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 35px;
}

.title-status {
    margin: 20px;
    font-size: 20px;
    margin-left: 35px;
}

.title-note {
    margin: 10px;
    font-size: 20px;
}

.aside1 {
    background-color: $colorWhite;
    height: 70%;
    margin-left: 50px;
    margin-top: 20px;
}

.aside2 {
    background-color: $colorWhite;
    height: 73vh;
    margin-top: 30px;
}

.note {
    margin: 20px;
    margin-top: 30px;
}

.order-products {
    height: 80%;
    margin-left: 45px;
    margin-top: 20px;
    overflow: auto;
}

.order-products::-webkit-scrollbar {
    width: 10px;
}

.order-products::-webkit-scrollbar-thumb {
    background-color: #c0c4cc;
    border-radius: 8px;
}

.address {
    margin: 35px;
    margin-top: 30px;
}

.info-customer {
    margin: 35px;
    margin-top: 30px;
}

.timeline {
    margin: 20px;
}

.status-order {
    margin-top: 30px;
    margin-left: 45px;
}